@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  width: 100%;
}

@media (max-width: 991px) {
  .ant-layout-sider {
    display: none !important;
  }
}

.text-outline {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}