@import "tailwindcss";

html, body {
  overflow-x: hidden;
  width: 100%;
}

.text-outline {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
